<div>
    <form>
        <label for="">
            <input type="text" placeholder="email">
        </label>
        <label for="">
            <input type="text" placeholder="username">
        </label>
        <label>
            <input type="text" placeholder="password">
        </label>
        <button type="submit">Sign Up</button>
    </form>
</div>