<div class="flex justify-center pt-10">
    <div class="w-1/6">
        <form method="post" action="/login" id="signupForm" class="grid grid-cols-1 gap-2">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="h-10 w-full rounded-md"> 
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="h-10 w-full rounded-md">
            <button type="submit" class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md py-2">Sign In</button>
        </form>
    </div>
</div>