<div>
    <form method="post" id="reportForm">
        <label for="reportDesc">Report Description</label>
        <input type="text" id="reportDesc" name="reportDesc">
        <button type="submit">Submit Report</button>
    </form>
</div>