<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iconique</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="list-none">
                <li>
                    <a class="text-red">iconique</a>
                </li>
                <li>
                    <a>create post</a>
                </li>
                <li>
                    <a>liked</a>
                </li>
                <li>
                    <a>user prof</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>