body{
    background-color: #E1E0DE;
}
/* mt-24 flex justify-center */
.form-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-buttons {
    background-color: #A4AEA3;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.5rem;

}

.profile-buttons:hover {
    transition: 0.3s;
    background-color: #567765;
    color: #E1E0DE;
}

.follow-button{
    width: 200px;
    background-color: #A4AEA3;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.5rem;
}

.follow-button:hover{
    transition: 0.3s;
    background-color: #567765;
    color: #E1E0DE;
}

.profile-post{
    background-color: white;
    border-radius:0.375rem;
    width: fit-content;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.profile-postimg{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-bottom: 10px;
}

.profile-post:hover{
    transition: 0.3s;
    background-color: #A4AEA3;
}

.underlined-link{
    color: #33322E;
    text-decoration: underline;
}

.underlined-link:hover{
    color: #567765;
}

.view-post-button{
    margin-top: 0.25rem;
    background-color: #A4AEA3;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.25rem;
}

.view-post-button:hover{
    
    transition: 0.3s;
    background-color: #567765;
    color: #E1E0DE;
}

.red-button{
    margin-top: 0.25rem;
    background-color: #cf99b1;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.25rem;
}

.red-button:hover{
    background-color: #960043;
    color: #E1E0DE;
}

.post-img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.no-comments{
    font-style: italic;
}

.border{
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.like-button{
    margin-top: 0.25rem;
    background-color: #A4AEA3;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.25rem;
}

.like-button:hover{
    background-color: #E1E0DE;
}

.dislike-button{
    margin-top: 0.25rem;
    background-color: #cf99b1;
    color: #33322E;
    font-weight: 600;
    border-radius:0.375rem;
    padding: 0.25rem;
}

.dislike-button:hover{
    background-color: #E1E0DE;
}