body{
    background-color: #E1E0DE;
}
/* mt-24 flex justify-center */
.form-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
}