
<div class="flex justify-center mt-12">
    <div class="w-2/5">
        <div id="content-before-loading" ></div> 
    </div>
</div>

{{#if isAuth}}
    <script src="../public/js/home.js"></script>
{{else}}
    <script src="../public/js/notAuthHome.js"></script>
{{/if}}
