<div class="flex justify-center mt-32">
    <div class="flex flex-col space-y-2">
        <p class="font-bold text-2xl">{{error}}</p>
        <a href="/home" class="underlined-link">Click here to go back to home</a>
    </div>
    
</div>