<div>
    <form enctype="multipart/form-data">

        <label for="post-image">Select Image</label>
        <input type="file" accept=".png, .jpg, .jpeg" id="post-image" name="post-image">
        
        <label for="description">Description</label>
        <input type="text" id="description" value={{desc}} name="description">
        <label for="clothingLinks">Clothing Links</label>
        {{#each clothingLinks}}
            <input type="text" id="clothingLinks" value={{this}} name="clothingLinks">
        {{/each}}
        <label for="keywords">Keywords</label>
        {{#each keywords}}
            <input type="text" id="keywords" value={{this}} name="keywords">
        {{/each}}
        <button type="submit">Create Post</button>
    </form>
</div>