<div>
    <form enctype="multipart/form-data">

        <label for="post-image">Select Image</label>
        <input type="file" accept=".png, .jpg, .jpeg" id="post-image" name="post-image">
        
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
        <label for="clothingLinks">Clothing Links</label>
        <input type="text" id="clothingLinks" name="clothingLinks">
        <label for="keywords">Keywords</label>
        <input type="text" id="keywords" name="keywords">
        <button type="submit">Create Post</button>
    </form>
</div>