<div>
    <form method="post" action="/posts">
        <label for="postImage">Select Image</label>
        <input type="image" id="postImage" name="postImage">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
        <label for="clothingLinks">Clothing Links</label>
        <input type="text" id="clothingLinks" name="clothingLinks">
        <label for="keywords">Keywords</label>
        <input type="text" id="keywords" name="keywords">
        <button type="submit"></button>
    </form>
</div>